@model WebApplication1.Models.Сообщения
@{
    ViewBag.Title = "addMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новое сообщение</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal  col-md-10">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Label("Получатель")
            @Html.EditorFor(model => model.Получатель)
            @Html.ValidationMessageFor(model => model.Получатель)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Содержание)
            @Html.TextAreaFor(model => model.Содержание, 10, 60, null)
            @Html.ValidationMessageFor(model => model.Содержание)
        </div>
        <div class="form-group">
            @Html.Hidden("Дата_отправки", DateTime.UtcNow.Date)
        </div>
        <div class="form-group">
        @Html.Hidden("Отправитель", User.Identity.Name)
    </div>
        <input type="submit" value="Отправить" />
    </div>
}

